<% if notice %>
    <p class="my-3">
        <span class="d-block p-2 text-bg-success"> 
            <%= notice %> 
        </span>
    </p>
<% end %>

<nav class="navbar navbar-expand-lg bg-body-tertiary my-4">
    <div class="container-fluid">
        <a class="navbar-brand" style="width: 80px" href="#">Clientes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-2">
                    <%= link_to "Listar", clients_path, class: "col-3 col-md-12 btn btn-success" %>
                </li>
                <li class="nav-item px-2">
                    <%= link_to "Crear ", new_client_path, class: "col-3 col-md-12 btn btn-success" %>
                </li>
            </ul>
            <%= form_with url: search_clients_path, method: :get, class: "d-flex", role: "search" do |form| %>
                <%= form.text_field :query_text, value: params[:query_text], class: "form-control me-2", placeholder: "Buscar", aria: { label: "Search" } %>
                <%= form.submit "Buscar", class: "btn btn-outline-success" %>
            <% end %>
        </div>
    </div>
</nav>